/************************************************
HEADER

************************************************/
body {
    max-width: 100%;
    min-height: 100%;
    margin: 0;
}

.fa-caret-up {
  text-align: center;
  font-size: 5em;
  padding: 3px;;
  margin: 5px;
  height: auto;
}

.header-lg {
  background: rgb(51, 51, 0);
  color: #fff;
  margin: 0;
  width: 100%;
}

.btn {
  padding: 8px;
  background: rgb(0, 0, 128);
}

.btn:hover {
  color: yellow;
}

.header {
  padding: 10px;
  text-align: center;
}

.large {
  background: rgb(128, 128, 0);
  color: #fff;
  font-family: 'Capriola', sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
  padding-top: 45px;
  padding-bottom: 50px;
  min-height: 350px;
}

h1 {
  text-align: center;
  font-family: 'Croissant One', cursive;
  color: yellow;
}

.footer {
  padding: 30px;
  text-align: center;
  background: rgb(51, 51, 0);
  color: #fff;
}

/************************************************
BODY


************************************************/
.main-body {
  background: rgb(230, 230, 230);
  padding: 30px;

}

/************************************************
FOOTER


************************************************/
